<app-breadcrumb ></app-breadcrumb>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="" style="width: 150px; padding-top: 30px; padding-left: 20px;">
                  <a href="admin/addsecurity">  <button  class="btn btn-primary btn-block" 
                    type="button"><span>Add New </span>
                  </button></a>
                </div>
                <div class="card-body custom-datatable">
                    <input type="text" class="filter-ngx form-control" placeholder='Type to filter the name column...'
                        (keyup)="updateFilter($event)" />
                        <app-table
                        [user_data]="data"
                        [columns]="cols"
                        (onedit)="onSelect($event)"
                        (ondelete)="onDelete($event)">
                        </app-table>
                </div>
            </div>
        </div>
    </div>
</div>