<!-- 

    <table class="table table-striped table-bordered">
      <thead style="background-color:#e9ecef; width: 1px;">
        <tr>
          <th style="white-space: nowrap;width:4px; table-layout:fixed">S.No</th>
          <th style="white-space: nowrap;width:4px; table-layout:fixed" *ngFor="let column of columns" >{{ column.label }}</th>
          <th style="white-space: nowrap;width:4px;text-align:center" [hidden]="hide">Actions</th>
          <th style="white-space: nowrap;width:4px;text-align:center" [hidden]="buttonHide">Actions</th>
          <th style="white-space: nowrap;width:4px;text-align:center" [hidden]="check">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of user_data|slice: (page-1) * pageSize : page * pageSize  index as i" >
        <td scope="row">{{ i + 1 }}</td>
        <td style="white-space: nowrap;width:1px"*ngFor="let column of columns"style="table-layout:fixed" >{{ user[ column.name] }}</td>
        <td style="white-space: nowrap;width:0.5px;text-align:center" [hidden]="hide">
          <a  ngbTooltip = "edit"> <i class="fa fa-edit" style="color:#7366ff;" (click)="onEdit(user)"></i></a>
          <a ngbTooltip = "delete"><i class="fa fa-times"style="color:#7366ff;  padding-left:20px" (click)="onDelete(user)"></i></a>
              
        </td>
       
        <td style="white-space: nowrap;width:0.5px;text-align:center" [hidden]="buttonHide">
          <a ngbTooltip = "approve"> <i class="fa fa-thumbs-o-up" [hidden]="user.time_in!=null" style="color:#7366ff;" (click)="onApprove(user)"></i></a>
          <a ngbTooltip ="reject" ><i class="fa fa-thumbs-o-down" style="color:#7366ff;  padding-left:20px"  [hidden]="user.time_in!=null"  (click)="onReject(user)"></i></a>
          <a ngbTooltip="view"> <i class="fa fa-eye" style="color:#7366ff; padding-left:20px" (click)="onView(user)"></i></a>
        </td>
        <td style="white-space: nowrap;width:0.5px;text-align:center" [hidden]="check">
          <a ngbTooltip ="checkout" > <i class="fa fa-aruser-right" [hidden]="user.timein==null" style="color:#7366ff;" (click)="onCheckOut(user)"></i></a>
          <a ngbTooltip ="checkin" > <i class="fa fa-aruser-left" style="color:#7366ff; padding-left:20px" (click)="onCheckIn(user)"></i></a>
          <a ngbTooltip = "view"> <i class="fa fa-eye" style="color:#7366ff; padding-left:20px" (click)="onView(user)"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
      </ngb-pagination>
    
      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div> -->



    <table class="table table-striped table-bordered">
      <thead style="background-color:#e9ecef; width: 1px;">
        <tr>
          <th >S.No</th>
          <th  *ngFor="let column of columns" >{{ column.label }}</th>
          <th  [hidden]="hide">Actions</th>
          <th  [hidden]="buttonHide">Actions</th>
          <th  [hidden]="check">Actions</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of user_data|slice: (page-1) * pageSize : page * pageSize  index as i" >
        <td scope="row">{{ i + 1 }}</td>
        <td *ngFor="let column of columns"style="table-layout:fixed width:230px" >{{ user[ column.name] }}</td>
        <td  [hidden]="hide" style="width:150px">
          <button ngbTooltip = "edit" class="btn btn-primary btn-xs" type="button" placement="top"  (click)="onEdit(user)">Edit
            </button>&nbsp;
            <button ngbTooltip = "delete " class="btn btn-danger btn-xs" type="button" (click)="onDelete(user)" placement="top">Delete
              </button>
              
        </td>
       
        <td  [hidden]="buttonHide" style="width:210px">
          <button ngbTooltip = "view " class="btn btn-success btn-xs" type="button" (click)="onView(user)" placement="top">View
          </button>&nbsp;
          <button ngbTooltip = "approve" class="btn btn-primary btn-xs" type="button" placement="top" [hidden]="user.time_in!=null" (click)="onApprove(user)">Approve
          </button>&nbsp;
          <button ngbTooltip = "reject " class="btn btn-danger btn-xs" type="button" (click)="onReject(user)"[hidden]="user.time_in!=null" placement="top">Reject
            </button>
          
          <!-- <a ngbTooltip = "approve"> <i class="fa fa-thumbs-o-up" [hidden]="user.time_in!=null" style="color:#7366ff;" (click)="onApprove(user)"></i></a>
          <a ngbTooltip ="reject" ><i class="fa fa-thumbs-o-down" style="color:#7366ff;  padding-left:20px"  [hidden]="user.time_in!=null"  (click)="onReject(user)"></i></a>
          <a ngbTooltip="view"> <i class="fa fa-eye" style="color:#7366ff; padding-left:20px" (click)="onView(user)"></i></a> -->
        </td>
        <td  [hidden]="check" style="width:210px">
          <button class="btn btn-danger btn-xs" (click)="onCheckOut(user)"  [hidden]="user.timeout!=null"  type="button" placement="top" ngbTooltip="checkout">checkout
          </button>&nbsp;
          <button class="btn btn-primary btn-xs" (click)="onCheckIn(user)"  [hidden]="user.timein!=null"type="button" placement="top" ngbTooltip="checkin">checkin
           </button>
           &nbsp;
           <button ngbTooltip = "view " class="btn btn-success btn-xs" type="button" (click)="onView(user)" placement="top">View
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
      </ngb-pagination>
    
      <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="3">3 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
    </div>