
<table class="table table-striped table-bordered " >
  <thead style="background-color:#e9ecef; width: 1px;">
    <tr>
      <th style="white-space: nowrap;width:4px;" *ngFor="let column of columns" >{{ column.label }}</th>
      <th style="white-space: nowrap;width:4px;text-align:center" [hidden]="hide">Actions</th>
      <th style="white-space: nowrap;width:4px;text-align:center" [hidden]="buttonHide">Actions</th>
      <th style="white-space: nowrap;width:4px;text-align:center" [hidden]="check">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of user_data ">
      <td style="white-space: nowrap;width:1px"*ngFor="let column of columns">{{ row[ column.name] }}</td>
      <td style="white-space: nowrap;width:0.5px;text-align:center" [hidden]="hide">
        <a> <i class="fa fa-edit" style="color:#7366ff;" (click)="onEdit(row)"></i></a><a><i class="fa fa-times"
            style="color:#7366ff;  padding-left:20px"    (click)="onDelete(row)"></i></a>
      </td>
     
      <td style="white-space: nowrap;width:0.5px;text-align:center" [hidden]="buttonHide">
        <a> <i class="fa fa-thumbs-o-up" style="color:#7366ff;" (click)="onApprove(row)"></i></a><a><i class="fa fa-thumbs-o-down"
            style="color:#7366ff;  padding-left:20px"    (click)="onReject(row)"></i></a>
      </td>
      <td style="white-space: nowrap;width:0.5px;text-align:center" [hidden]="check">
        <a> <i class="fa fa-check" style="color:#7366ff;" (click)="onCheckOut(row)"></i></a>
      </td>
    </tr>
